@import url(http://fonts.googleapis.com/css?family=Anton);
@import url(http://fonts.googleapis.com/css?family=Share+Tech+Mono);
@import url(http://fonts.googleapis.com/css?family=Fredoka+One);

$white: #ffffff;
$skybluemario: #DBFCFF;
$mario: #0EF5F7;

body {
    height: 100vh;
    margin-top: 50px;
    background: url('../img/pexels-photo-119549.jpeg')no-repeat;
    
  }

h4 {
    text-align: center;
    font: 1.5vw 'Fredoka One';
    color: $white;
  }
h2 {
    font: 7.5vw 'Fredoka One';
    text-align: center;
    color: $white;
  }  
.controls {
  justify-content: center;
  display: flex;
  a {
    margin-left: 10px;
    background-color: #333;
    color: $white;
    padding: 12px 24px;
    text-decoration: none;
    font-size: 17px;
    border-radius: 15px;
    transition: all 0.5s ease;  
    &:hover {
      background: #E64848;
      color: $white;
    }
  }
  .work1:hover {
    background: #33CCCC;
  }
  .break1:hover {
    background: #52CC52;
    transition: all 0.4s ease;
  }
  .longbreak1:hover {
    background: #66A3FF;
    transition: all 0.4s ease;
  }
}



